In [2]:
import pandas as pd
pd.set_option('display.max_columns', 50)
pd.set_option('display.max_rows', 50)

In [3]:
df = pd.read_csv('desktop/data science/Value_of_Energy_Cost_Savings_Program_Savings_for_Businesses.csv')

In [4]:
df

,Period,Company Name,company contact,company email,company phone,Address,City,State,Postcode,Industry,Industry descr,Company Type,Current fulltime,Job created,Job retain,Effective Date,Total Savings,Savings from beginning receiving benefits,Gas Savings,Cogen savings,Electric Savings,Borough,Latitude,Longitude,Community Board,Council District,BIN,BBL,Census Tract (2020),Neighborhood Tabulation Area (NTA) (2020)
0,FY2018,"139 ACA Realty, Inc.",Eitan Chandally,barbara@dial7.com,7187076123,43-23 35th Street,Long Island City,NY,11101,Commercial,Limousine Service,ICIP,125.0,NaN,NaN,04/07/2008,8314.92,123975.24,NaN,NaN,NaN,QUEENS,40.745706,-73.929565,402.0,26.0,4003160.0,4.002220e+09,17902.0,QN0202
1,FY2018,"141 Lake Avenue Realty c/o JR Produce, Inc.",Josef Raz,jrproduce@gmail.com,7183708782,141 Lake Avenue,Staten Island,NY,10303,Wholesale/Warehouse/Distribution,Dist. of prepacked salads,ICIP,6.0,NaN,NaN,12/08/2009,6010.71,47512.89,NaN,NaN,NaN,STATEN IS,40.632845,-74.151048,501.0,49.0,5146740.0,5.011610e+09,239.0,SI0107
2,FY2018,14-10 123rd Street LLC,Danica/Ivan Drazic,ddrazic@atjelectrical.com,7183210117,14-10 123rd Street,College Point,NY,11356,Commercial,Electrical Parts Mfg.,ICIP,35.0,NaN,NaN,03/04/2011,2946.05,21322.89,NaN,NaN,NaN,QUEENS,40.785144,-73.844833,407.0,19.0,4098344.0,4.040850e+09,929.0,QN0701
3,FY2018,183 Lorriane Street LLC,Tom Sapienza,tsapienza@KLCNY.com,2128405588,183 Lorraine Street,Brooklyn,NY,11231,Wholesale/Warehouse/Distribution,Commercial Storage facility,ICIP,9.0,NaN,NaN,11/06/2015,48981.51,105016.49,NaN,NaN,NaN,BROOKLYN,40.673106,-74.002300,306.0,38.0,3336622.0,3.005720e+09,5302.0,BK0601
4,FY2018,"21st Century Optics, Inc.",Ralph Woythaler,rwoythaler@21st centuryoptics.com,7183922310,47-00 33rd Street,Lond Island City,NY,11101,Manufacturing,Eye glasses,Tenant,130.0,NaN,NaN,01/07/2009,36400.37,215757.20,NaN,NaN,NaN,QUEENS,40.742386,-73.932148,402.0,26.0,4003447.0,4.002520e+09,19901.0,QN0202
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2358,FY2022,Works Manufacturing of Brooklyn NY,Aleksey Kravchuk,aleks@worksmfg.com,7186090027,1155-1205 Manhattan Avenue #3-1-4,Brooklyn,NY,11222,Manufacturing,High-End Architectural Metal Fabrication,Tenant,5.0,NaN,NaN,05/03/2022,64.74,222.88,0.0,0.0,64.74,BROOKLYN,40.738113,-73.955453,301.0,33.0,3404803.0,3.024720e+09,56302.0,BK0101
2359,FY2022,"WorldWide Plumbing Supply, Inc.",Surie Lefkowitz,sheidya@wwps.com,7188533002,125 Lake Avenue,Staten Island,NY,10303,Manufacturing,"Plumbing Fixtures, Parts & Supplies, Plumbers",ICAP,43.0,NaN,NaN,08/03/2018,18589.11,75534.76,0.0,0.0,18589.11,STATEN IS,40.633114,-74.151006,501.0,49.0,5107122.0,5.011610e+09,239.0,SI0107
2360,FY2022,WPC LLC,Sara Samplawska,robertwpcllc@yahoo.com,7184405667,"11-55-1205 Manhattan Avenue, #112",Brooklyn,NY,11222,Manufacturing,Millwork Fabricator/Custom Cabinets and Closets,Tenant,1.0,NaN,NaN,01/03/2022,194.92,472.68,0.0,0.0,194.92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2361,FY2022,WUD Furniture LLC,Keren Springer,keren@wudfurniture.com,7184867952,1102 Atlantic Avenue,Brooklyn,NY,11238,Manufacturing,"We make handcrafted furniture, surfaces, lighting",Tenant,7.0,NaN,NaN,01/26/2016,3651.88,20299.33,0.0,0.0,3651.88,BROOKLYN,40.679518,-73.956819,308.0,35.0,3027572.0,3.011260e+09,305.0,BK0802
2362,FY2022,Wurtec Incorporated,Diego Alvaraado,diego.alvarado@wurtec.com,4197261066,31-50 31st Street,Lond Island City,NY,11106,Wholesale/Warehouse/Distribution,Elevator tooling products,Relocator,2.0,NaN,NaN,10/03/2019,5162.19,6646.53,0.0,0.0,5162.19,QUEENS,40.763148,-73.924442,401.0,22.0,4007562.0,4.005890e+09,61.0,QN0103

In [5]:
df.columns

Index(['Period', 'Company Name', 'company contact', 'company email',
       'company phone', 'Address', 'City', 'State', 'Postcode', 'Industry',
       'Industry descr', 'Company Type', 'Current fulltime', 'Job created',
       'Job retain', 'Effective Date', 'Total Savings',
       'Savings from beginning receiving benefits', 'Gas Savings',
       'Cogen savings', 'Electric Savings', 'Borough', 'Latitude', 'Longitude',
       'Community Board', 'Council District', 'BIN', 'BBL',
       'Census Tract (2020)', 'Neighborhood Tabulation Area (NTA) (2020)'],
      dtype='object')

## Answer to Day 4
### Question 1

In [6]:
len(df['Company Name'].unique())

787

## Question 2

In [7]:
filt = df['Borough'] == 'QUEENS'
df.loc[filt, 'Job created'].sum()

1196.0

## Question 3

In [8]:
filt = df['company email'].str.contains('JetBlue.com', na=False)
df[filt]['company email']

1771    William.Paglia@JetBlue.com@Jetblue.com
1772    William.Paglia@JetBlue.com@Jetblue.com
2161    William.Paglia@JetBlue.com@Jetblue.com
2162    William.Paglia@JetBlue.com@Jetblue.com
Name: company email, dtype: object

In [9]:
filt = df['company email'].str.contains('ikea.com', na=False)
df[filt]['company email']

1326                   elizabeth.gabor @ikea.com
1758    claude.boisvert@ingka.ikea.com @ikea.com
2148    claude.boisvert@ingka.ikea.com @ikea.com
Name: company email, dtype: object

In [10]:
# I've decided to try only the right most @ as the domain name, so some addresses may contain @ as well.
domains = df['company email'].str.rsplit('@', n=1, expand=True)
len(domains[1].str.lower().unique())

589

## Question 4

In [11]:
# creates a groupby obj, based on NTA
nta_grp = df.groupby(['Neighborhood Tabulation Area (NTA) (2020)'])

# creates a filter that takes into account only the nta_grp that have at least 5 unique company names.
filt = nta_grp['Company Name'].unique().apply(len) >= 5
filt.value_counts()

False    66
True     31
Name: Company Name, dtype: int64

In [12]:
# returns the mean of total saving for every nta that meets the filt criteria (assigned above)
mean_total_savings = nta_grp['Total Savings'].mean().loc[filt]
mean_total_savings

Neighborhood Tabulation Area (NTA) (2020)
BK0101     10367.961795
BK0104     21158.253077
BK0202     74011.255897
BK0261     12876.958500
BK0301     57934.141667
BK0502     13810.223333
BK0503     62669.078889
BK0601     25358.179524
BK0702     17596.188571
BK0802      3620.966591
BK1602     -3744.104444
BX0101     17226.212931
BX0201     21078.529496
BX1001     10510.395882
MN0101    431063.858667
MN0102     47655.748000
MN0902      2398.261224
MN1102      8909.400625
QN0101     14292.983784
QN0103     14084.895625
QN0104     25843.476364
QN0105     59201.958046
QN0161      2489.384000
QN0201     27410.526875
QN0202     13586.924023
QN0203      6549.470909
QN0501     13278.137101
QN0502     11908.803529
QN0701     33604.169773
QN0904      1739.515833
QN1306     21160.505200
Name: Total Savings, dtype: float64

In [13]:
# returns the sum of jobs created for every nta that meets the filt criteria (assigned above)
sum_jobs = nta_grp['Job created'].sum().loc[filt]
sum_jobs

Neighborhood Tabulation Area (NTA) (2020)
BK0101     16.0
BK0104    187.0
BK0202      0.0
BK0261      0.0
BK0301      8.0
BK0502      0.0
BK0503    415.0
BK0601     97.0
BK0702     92.0
BK0802      0.0
BK1602     55.0
BX0101    106.0
BX0201    133.0
BX1001     20.0
MN0101      0.0
MN0102      4.0
MN0902     10.0
MN1102      8.0
QN0101    100.0
QN0103      2.0
QN0104     23.0
QN0105    105.0
QN0161      0.0
QN0201     78.0
QN0202    125.0
QN0203     10.0
QN0501    195.0
QN0502      3.0
QN0701    120.0
QN0904      0.0
QN1306      0.0
Name: Job created, dtype: float64

In [14]:
output_dict = {
    'mean total savings': mean_total_savings,
    'sum of jobs created': sum_jobs
}

In [ ]:
output_df = pd.DataFrame(output_dict)
output_df.to_csv('desktop/data science/day_4_answers.csv')

In [ ]:
output_df

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
#plt.scatter(output_df['mean total savings'], output_df['sum of jobs created'], s=5, c='r')
plt.scatter('sum of jobs created', 'mean total savings', s=5, data=output_df)
plt.xlabel('jobs created')
plt.ylabel('average total savings')

In [ ]:
plt.scatter('sum of jobs created', 'mean total savings', s=5, data=output_df)
plt.xlabel('jobs created')
plt.ylabel('average total savings (log)')
plt.yscale('log')

In [ ]:
n, bins, patches = plt.hist(data=output_df)